body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgb(0, 219, 219), rgb(123, 50, 219));
}

.main {
    display: flex;
    background-color: rgb(221, 189, 252);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5vh;
    width: 90%;
    max-width: 600px;
    flex-direction: column;
}

.header {
    text-align: center;
    font-size: 2.5em;
    color: #3e1279;
    margin-bottom: 20px;
}

.input-area {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

#input-task {
    padding: 12px 15px;
    border:2px solid #3e1279;
    border-radius: 10px;
    font-size: 1.1em;
    flex-grow: 1;
    box-sizing: border-box;
    transition: all 0.4 ease;
}

#add-btn {
    border: 2px solid #3e1279;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(191, 109, 247), rgb(162, 206, 247));
    color: rgb(66, 29, 87);
    cursor: pointer;
    transition: all 0.3s ease;
}
#add-btn:hover{
    opacity: 0,9;
    transform: translateY(-2px);
    box-shadow: 0 5 15px rgba(61, 2, 61, 0.8);

}